<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
<appSettings>

  <!--<add key="ConnectionString" value="server=10.5.1.39;database=SECR;uid=attestuser;password=attestpwd;Max Pool Size=1000;Min Pool Size=5"/>-->
  <add key="Photosavepath" value="\\10.10.10.113\Aptech Limited\FCI_Raipur\Photos\" />
  <add key="ImageShowPath" value="http://fcicgjobs.com/photos/" />
<add key="AdmitCardUrl" value="http://localhost:9091/Candidate/AdmitCard.aspx?CID=" />
    <add key="AdmitCardSavePath" value="\\10.10.10.113\Aptech Limited\FCI_Raipur\Admitcard/" />


  <add key="ConnectionString" value="server=192.168.107.2,21443;database=FCI_Raipur;uid=fciuser;password=fcipwd;Max Pool Size=1000;Min Pool Size=5" />

</appSettings>
    <system.web>
 <customErrors mode="Off"/>
      <sessionState allowCustomSqlDatabase="true" mode="SQLServer" sqlConnectionString="Server=192.168.107.2,21443;Database=ASPState;User ID=saadmin;Password=Asp#$%pwd" stateConnectionString="tcpip=serverip:42424" stateNetworkTimeout="20000" />
      <compilation debug="true" targetFramework="4.0" />
        <machineKey decryption="3DES" decryptionKey="F124227BBEE5ADCFF3D1237E97AE535B12BDF679011E5209" validation="HMACSHA512" validationKey="032BD3BB589B9624552DE028473960555C9686068DE06146B507C8DDB6320AB516A551A547F8D0C80921F08591936128951A91B7E862ABD2AF8B2574888D4B00" />
 
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
                <add value="iisstart.htm" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
    </system.webServer>

</configuration>
